# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
frontend/node_modules/

# Expo
.expo/
frontend/.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
frontend/amplify/\#current-cloud-backend
frontend/amplify/.config/local-*
frontend/amplify/logs
frontend/amplify/mock-data
frontend/amplify/mock-api-resources
frontend/amplify/backend/amplify-meta.json
frontend/amplify/backend/.temp
build/
dist/
node_modules/
frontend/build/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
frontend/amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
